div {
  box-sizing: border-box;
}
:root {
  --dark-color: #5C6F68;
  --hover-dark-color: #A3B5A6;
  --light-dark-color: #8AA39B;
  --light-color: #95D9C3;
  --primary-color: #A4F9C8;
  --secondary-color: #A7FFF6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-container {
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#btn-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
  cursor: pointer;
}

#email:focus ~ fieldset, #password:focus ~ fieldset, #confirmPassword:focus ~ fieldset,
 #name:focus ~ fieldset, #degree:focus ~ fieldset, #school:focus ~ fieldset {
  border: 1px solid var(--light-color);
}

#email-label.Mui-focused, #password-label.Mui-focused, #name-label.Mui-focused,  
#confirmPassword-label.Mui-focused, #degree-label.Mui-focused, #school-label.Mui-focused {
  color: var(--light-color);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent var(--primary-color) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.avgRow {
  width: 100%;
  background-color: var(--light-dark-color);
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.light-background {
  background-color: var(--light-color);
}

.space {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  gap: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.edit-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}